.greeting {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 171, 171);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__body {
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    /* display: flex;
    justify-content: center;
    align-items: center;
    */
    /* background-color: rgb(177, 171, 171); */
}


h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit
}

.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.link {
    display: none;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid wheat;
    align-self: start;
    transition: all .2s ease;
}

.link.visible {
    display: flex;
}

.link:hover {
    color: white;
    background-color: rgb(67, 67, 216);
}

.footer {
    display: flex;
    flex-direction: column;
}

.game {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

.move__right {
    transform: scale(1, 1);
}

.move__left {
    transform: scale(-1, 1);
}


.character__wrapper {
    position: absolute;
    bottom: 140px;
}

.character {
    position: absolute;
    background-color: #000;
}

.mole {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    bottom: 30px;
}